body {
    font-family: Arial, sans-serif;
    background-color: #919e1cd2;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #13b368;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    text-align: center;
}

.converter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

select, input, button {
    padding: 10px;
    margin: 5px;
}

.result {
    text-align: center;
    margin-top: 20px;
}
